<h1>Test Your Knowledge!</h1>
<hr>
<table>
  <thead>
    <tr>
      <% @data_array.first.each do |cell| %>
        <th><%= cell %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @data_array.drop(1).each do |row| %>
      <tr>
        <% row.each do |cell| %>
          <td><%= cell %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
