body {
  font-size: 11pt;
}

form {
  margin: 0px;
  display: inline;
}

table {
  table-layout: fixed;
}

.table td {
  vertical-align: middle;
  line-height: 30px;
}

td.success {
  color: #3c763d;
  background-color: #d0e9c6;
  border-color: #d0e9c6;

}

td.pass {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebcccc;
}
