body {
  padding-top: 50px;
  font-size: 11pt;
}

nav {
  margin-bottom: 10px;
}

main {
  margin-top: 58px;
}

footer {
  margin-top: 25px;
}

form {
  margin: 0px;
  display: inline;
}

table {
  table-layout: fixed;
}

.muted {
  color: #C8C8C8;
}

.muted a {
  color: #C8C8C8;
  text-decoration: underline;
}

.muted a:hover {
  color: #08C;
  text-decoration: underline;
}

div.alert {
  margin-bottom: 10px;
}

.table td {
  vertical-align: middle;
  line-height: 32px;
}

td.success {
  color: #3c763d;
  background-color: #d0e9c6;
  border-color: #d0e9c6;
}

td.pass {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebcccc;
}

td.error {
  color: red;
  background-color: red;
  border-color: red;
}
